<ul>
<% for (var i = 0; i < noches.length; i++) { %>
    <li> noches[i].title</li>
    <li> noches[i].tengoDolor</li>
    <li> noches[i].dia_semana</li>
    <li> noches[i].es_resaca</li>
<% } %>
</ul>